/*
Error: Invalid GBK character "\xE2"
        on line 87 of media/css/style.scss

82:   margin-top: 1em;
83:   li {
84:     list-style-type:none;
85:     padding: 0;
86:     &.listing-item { a { padding: .2em 0 .2em 2em; } time { color: #999; } &:hover { background-color: #f9f9f9; } }
87:     &.listing-seperator { font-family: #{$label-font}; &:before { content: "⭠ "; color: #ccc; } }
88:   }
89: }
90: 
91: article {
92:   margin: 2em 0;

Backtrace:
media/css/style.scss:87
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/util.rb:1301:in `rescue in block in find_encoding_error'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/util.rb:1298:in `block in find_encoding_error'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/util.rb:1297:in `each'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/util.rb:1297:in `each_with_index'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/util.rb:1297:in `find_encoding_error'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/util.rb:874:in `check_sass_encoding'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/engine.rb:423:in `check_encoding!'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/engine.rb:379:in `_to_tree'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/engine.rb:368:in `_render_with_sourcemap'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/engine.rb:285:in `render_with_sourcemap'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/exec/sass_scss.rb:375:in `run'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/exec/sass_scss.rb:62:in `process_result'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/exec/base.rb:40:in `parse'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/exec/base.rb:19:in `parse!'
D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.3/bin/scss:13:in `<top (required)>'
D:/Ruby200-x64/bin/scss:23:in `load'
D:/Ruby200-x64/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE2\"\A         on line 87 of media/css/style.scss\A \A 82:   margin-top: 1em;\A 83:   li {\A 84:     list-style-type:none;\A 85:     padding: 0;\A 86:     &.listing-item { a { padding: .2em 0 .2em 2em; } time { color: #999; } &:hover { background-color: #f9f9f9; } }\A 87:     &.listing-seperator { font-family: #{$label-font}; &:before { content: \"⭠ \"; color: #ccc; } }\A 88:   }\A 89: }\A 90: \A 91: article {\A 92:   margin: 2em 0;"; }
